<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <icepay>
                <active>0</active>
                <debug>1</debug>

                <bancontact>
                    <active>0</active>
                    <model>IcepayBancontact</model>
                    <title>Bancontact</title>
                    <payment_action>order</payment_action>
                    <active>0</active>
                    <is_gateway>1</is_gateway>
                    <can_order>1</can_order>
                    <can_refund>1</can_refund>
                    <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                    <can_use_checkout>1</can_use_checkout>
                    <allowspecific>0</allowspecific>
                </bancontact>
                <creditcard>
                    <active>0</active>
                    <model>IcepayCreditcard</model>
                    <title>Credit Card</title>
                    <payment_action>order</payment_action>
                    <active>0</active>
                    <is_gateway>1</is_gateway>
                    <can_order>1</can_order>
                    <can_refund>1</can_refund>
                    <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                    <can_use_checkout>1</can_use_checkout>
                    <allowspecific>0</allowspecific>
                </creditcard>
                <eps>
                    <active>0</active>
                    <model>IcepayEps</model>
                    <title>EPS</title>
                    <payment_action>order</payment_action>
                    <active>0</active>
                    <is_gateway>1</is_gateway>
                    <can_order>1</can_order>
                    <can_refund>1</can_refund>
                    <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                    <can_use_checkout>1</can_use_checkout>
                    <allowspecific>0</allowspecific>
                </eps>
                <ideal>
                    <active>0</active>
                    <model>IcepayIdeal</model>
                    <title>iDEAL | Wero</title>
                    <payment_action>order</payment_action>
                    <active>0</active>
                    <is_gateway>1</is_gateway>
                    <can_order>1</can_order>
                    <can_refund>1</can_refund>
                    <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                    <can_use_checkout>1</can_use_checkout>
                    <allowspecific>0</allowspecific>
                </ideal>
                <onlineueberweisen>
                    <active>0</active>
                    <model>IcepayOnlineueberweisen</model>
                    <title>Online Überweisen</title>
                    <payment_action>order</payment_action>
                    <active>0</active>
                    <is_gateway>1</is_gateway>
                    <can_order>1</can_order>
                    <can_refund>1</can_refund>
                    <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                    <can_use_checkout>1</can_use_checkout>
                    <allowspecific>0</allowspecific>
                </onlineueberweisen>
                <paypal>
                    <active>0</active>
                    <model>IcepayPaypal</model>
                    <title>PayPal</title>
                    <payment_action>order</payment_action>
                    <active>0</active>
                    <is_gateway>1</is_gateway>
                    <can_order>1</can_order>
                    <can_refund>1</can_refund>
                    <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                    <can_use_checkout>1</can_use_checkout>
                    <allowspecific>0</allowspecific>
                </paypal>
                <sofort>
                    <active>0</active>
                    <model>IcepaySofort</model>
                    <title>SOFORT</title>
                    <payment_action>order</payment_action>
                    <active>0</active>
                    <is_gateway>1</is_gateway>
                    <can_order>1</can_order>
                    <can_refund>1</can_refund>
                    <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                    <can_use_checkout>1</can_use_checkout>
                    <allowspecific>0</allowspecific>
                </sofort>
            </icepay>

            <icepay_bancontact>
                <model>IcepayBancontact</model>
            </icepay_bancontact>
            <icepay_creditcard>
                <model>IcepayCreditcard</model>
            </icepay_creditcard>
            <icepay_eps>
                <model>IcepayEps</model>
            </icepay_eps>
            <icepay_ideal>
                <model>IcepayIdeal</model>
            </icepay_ideal>
            <icepay_onlineueberweisen>
                <model>IcepayOnlineueberweisen</model>
            </icepay_onlineueberweisen>
            <icepay_paypal>
                <model>IcepayPaypal</model>
            </icepay_paypal>
            <icepay_sofort>
                <model>IcepaySofort</model>
            </icepay_sofort>
        </payment>
    </default>
</config>
