<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Icepay\Payment\Logger">
        <arguments>
            <argument name="logger" xsi:type="object">Icepay\Payment\Monolog</argument>
        </arguments>
    </type>

    <virtualType name="Icepay\Payment\Monolog" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="name" xsi:type="string">icepay</argument>
            <argument name="handlers" xsi:type="array">
                <item name="system" xsi:type="object">Icepay\Payment\Logger\Handler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="Icepay\Payment\Logger\Handler" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">/var/log/icepay.log</argument>
        </arguments>
    </virtualType>

    <virtualType name="IcepayCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="order" xsi:type="string">Icepay\Payment\Gateway\Commands\OrderCommand</item>
                <item name="refund" xsi:type="string">Icepay\Payment\Gateway\Commands\RefundCommand</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Bancontact -->
    <virtualType name="IcepayBancontact" type="Icepay\Payment\Model\IcepayMethod">
        <arguments>
            <argument name="code" xsi:type="string">icepay_bancontact</argument>
            <argument name="formBlockType" xsi:type="string">Icepay\Payment\Block\Method\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Icepay\Payment\Block\Method\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">IcepayBancontactValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">IcepayCommandPool</argument>
            <argument name="validatorPool" xsi:type="object">IcepayBancontactValidatorPool</argument>
        </arguments>
    </virtualType>

    <virtualType name="IcepayBancontactValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">IcepayBancontactConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="IcepayBancontactConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">IcepayBancontactConfigReader</argument>
        </arguments>
    </virtualType>

    <virtualType name="IcepayBancontactConfigReader" type="Icepay\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="string">icepay_bancontact</argument>
        </arguments>
    </virtualType>

    <virtualType name="IcepayBancontactValidatorPool" type="Magento\Payment\Gateway\Validator\ValidatorPool">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="country" xsi:type="string">IcepayBancontactCountryValidator</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="IcepayBancontactCountryValidator" type="Magento\Payment\Gateway\Validator\CountryValidator">
        <arguments>
            <argument name="config" xsi:type="object">IcepayBancontactConfigReader</argument>
        </arguments>
    </virtualType>

    <!-- Creditcard -->
    <virtualType name="IcepayCreditcard" type="Icepay\Payment\Model\IcepayMethod">
        <arguments>
            <argument name="code" xsi:type="string">icepay_creditcard</argument>
            <argument name="formBlockType" xsi:type="string">Icepay\Payment\Block\Method\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Icepay\Payment\Block\Method\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">IcepayCreditcardValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">IcepayCommandPool</argument>
            <argument name="validatorPool" xsi:type="object">IcepayCreditcardValidatorPool</argument>
        </arguments>
    </virtualType>

    <virtualType name="IcepayCreditcardValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">IcepayCreditcardConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="IcepayCreditcardConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">IcepayCreditcardConfigReader</argument>
        </arguments>
    </virtualType>

    <virtualType name="IcepayCreditcardConfigReader" type="Icepay\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="string">icepay_creditcard</argument>
        </arguments>
    </virtualType>

    <virtualType name="IcepayCreditcardValidatorPool" type="Magento\Payment\Gateway\Validator\ValidatorPool">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="country" xsi:type="string">IcepayCreditcardCountryValidator</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="IcepayCreditcardCountryValidator" type="Magento\Payment\Gateway\Validator\CountryValidator">
        <arguments>
            <argument name="config" xsi:type="object">IcepayCreditcardConfigReader</argument>
        </arguments>
    </virtualType>

    <!-- EPS -->
    <virtualType name="IcepayEps" type="Icepay\Payment\Model\IcepayMethod">
        <arguments>
            <argument name="code" xsi:type="string">icepay_eps</argument>
            <argument name="formBlockType" xsi:type="string">Icepay\Payment\Block\Method\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Icepay\Payment\Block\Method\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">IcepayEpsValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">IcepayCommandPool</argument>
            <argument name="validatorPool" xsi:type="object">IcepayEpsValidatorPool</argument>
        </arguments>
    </virtualType>

    <virtualType name="IcepayEpsValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">IcepayEpsConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="IcepayEpsConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">IcepayEpsConfigReader</argument>
        </arguments>
    </virtualType>

    <virtualType name="IcepayEpsConfigReader" type="Icepay\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="string">icepay_eps</argument>
        </arguments>
    </virtualType>

    <virtualType name="IcepayEpsValidatorPool" type="Magento\Payment\Gateway\Validator\ValidatorPool">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="country" xsi:type="string">IcepayEpsCountryValidator</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="IcepayEpsCountryValidator" type="Magento\Payment\Gateway\Validator\CountryValidator">
        <arguments>
            <argument name="config" xsi:type="object">IcepayEpsConfigReader</argument>
        </arguments>
    </virtualType>

    <!-- iDEAL | Wero -->
    <virtualType name="IcepayIdeal" type="Icepay\Payment\Model\IcepayMethod">
        <arguments>
            <argument name="code" xsi:type="string">icepay_ideal</argument>
            <argument name="formBlockType" xsi:type="string">Icepay\Payment\Block\Method\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Icepay\Payment\Block\Method\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">IcepayIdealValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">IcepayCommandPool</argument>
            <argument name="validatorPool" xsi:type="object">IcepayIdealValidatorPool</argument>
        </arguments>
    </virtualType>

    <virtualType name="IcepayIdealValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">IcepayIdealConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="IcepayIdealConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">IcepayIdealConfigReader</argument>
        </arguments>
    </virtualType>

    <virtualType name="IcepayIdealConfigReader" type="Icepay\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="string">icepay_ideal</argument>
        </arguments>
    </virtualType>

    <virtualType name="IcepayIdealValidatorPool" type="Magento\Payment\Gateway\Validator\ValidatorPool">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="country" xsi:type="string">IcepayIdealCountryValidator</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="IcepayIdealCountryValidator" type="Magento\Payment\Gateway\Validator\CountryValidator">
        <arguments>
            <argument name="config" xsi:type="object">IcepayIdealConfigReader</argument>
        </arguments>
    </virtualType>

    <!-- Online Überweisen -->
    <virtualType name="IcepayOnlineueberweisen" type="Icepay\Payment\Model\IcepayMethod">
        <arguments>
            <argument name="code" xsi:type="string">icepay_onlineueberweisen</argument>
            <argument name="formBlockType" xsi:type="string">Icepay\Payment\Block\Method\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Icepay\Payment\Block\Method\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">IcepayOnlineueberweisenValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">IcepayCommandPool</argument>
            <argument name="validatorPool" xsi:type="object">IcepayOnlineueberweisenValidatorPool</argument>
        </arguments>
    </virtualType>

    <virtualType name="IcepayOnlineueberweisenValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">IcepayOnlineueberweisenConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="IcepayOnlineueberweisenConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">IcepayOnlineueberweisenConfigReader</argument>
        </arguments>
    </virtualType>

    <virtualType name="IcepayOnlineueberweisenConfigReader" type="Icepay\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="string">icepay_onlineueberweisen</argument>
        </arguments>
    </virtualType>

    <virtualType name="IcepayOnlineueberweisenValidatorPool" type="Magento\Payment\Gateway\Validator\ValidatorPool">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="country" xsi:type="string">IcepayOnlineueberweisenCountryValidator</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="IcepayOnlineueberweisenCountryValidator" type="Magento\Payment\Gateway\Validator\CountryValidator">
        <arguments>
            <argument name="config" xsi:type="object">IcepayOnlineueberweisenConfigReader</argument>
        </arguments>
    </virtualType>

    <!-- PayPal -->
    <virtualType name="IcepayPaypal" type="Icepay\Payment\Model\IcepayMethod">
        <arguments>
            <argument name="code" xsi:type="string">icepay_paypal</argument>
            <argument name="formBlockType" xsi:type="string">Icepay\Payment\Block\Method\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Icepay\Payment\Block\Method\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">IcepayPaypalValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">IcepayCommandPool</argument>
            <argument name="validatorPool" xsi:type="object">IcepayPaypalValidatorPool</argument>
        </arguments>
    </virtualType>

    <virtualType name="IcepayPaypalValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">IcepayPaypalConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="IcepayPaypalConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">IcepayPaypalConfigReader</argument>
        </arguments>
    </virtualType>

    <virtualType name="IcepayPaypalConfigReader" type="Icepay\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="string">icepay_paypal</argument>
        </arguments>
    </virtualType>

    <virtualType name="IcepayPaypalValidatorPool" type="Magento\Payment\Gateway\Validator\ValidatorPool">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="country" xsi:type="string">IcepayPaypalCountryValidator</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="IcepayPaypalCountryValidator" type="Magento\Payment\Gateway\Validator\CountryValidator">
        <arguments>
            <argument name="config" xsi:type="object">IcepayPaypalConfigReader</argument>
        </arguments>
    </virtualType>

    <!-- Sofort -->
    <virtualType name="IcepaySofort" type="Icepay\Payment\Model\IcepayMethod">
        <arguments>
            <argument name="code" xsi:type="string">icepay_sofort</argument>
            <argument name="formBlockType" xsi:type="string">Icepay\Payment\Block\Method\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Icepay\Payment\Block\Method\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">IcepaySofortValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">IcepayCommandPool</argument>
            <argument name="validatorPool" xsi:type="object">IcepaySofortValidatorPool</argument>
        </arguments>
    </virtualType>

    <virtualType name="IcepaySofortValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">IcepaySofortConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="IcepaySofortConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">IcepaySofortConfigReader</argument>
        </arguments>
    </virtualType>

    <virtualType name="IcepaySofortConfigReader" type="Icepay\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="string">icepay_sofort</argument>
        </arguments>
    </virtualType>

    <virtualType name="IcepaySofortValidatorPool" type="Magento\Payment\Gateway\Validator\ValidatorPool">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="country" xsi:type="string">IcepaySofortCountryValidator</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="IcepaySofortCountryValidator" type="Magento\Payment\Gateway\Validator\CountryValidator">
        <arguments>
            <argument name="config" xsi:type="object">IcepaySofortConfigReader</argument>
        </arguments>
    </virtualType>
</config>
